body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.btn {
    height: 50px;
    width: 50px;
    font-size: 25px; 
    margin: 15px
}
.first-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.screen{
    width: 230px;
    border: 1px solid salmon;
    height: 48px;
    margin: 8px;
}

